/* Navbar Background */
.navbar-custom {
    background-color: #5B52BC !important;
    /* Color 1 */
}



/* Button Styles */
.btn-login {
    background-color: #7E77CA !important;
    /* Color 3 */
    color: white !important;
    border: none;
}

.btn-register {
    background-color: #FF5942 !important;
    /* Color 5 */
    color: white !important;
    border: none;
}

.btn-heart {
color: white
}

/* Hover Effects */
.btn-login:hover {
    background-color: #6D65D0 !important;
}

.btn-register:hover {
    background-color: #FFA5A0 !important;
}

.btn-register:hover {
    color: #FFA5A0 !important;
    border-color: #FFA5A0;
}

.btn-register:active {
    color: #FF5942 !important;
    border-color: #FFA5A0;
}

/* Fonts */
/* h1,
h2, */
/* h3 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Merriweather', serif;
} */

.clickableStyle {
    cursor: 'pointer'
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #FFA5A0;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 2; /* Ensure it's above other content */
  }
  
  .favorite-btn:hover {
    color: #FF5942;
  }
  
  .favorite-btnliked {
    color: #FF5942;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .favorite-btnliked:hover {
    color: #f58273;
  }