.card .insigniaVerde.badge {
    background-color: #CFF7D3 !important;
    border-radius: 8px !important;
    color: #02542D !important;
}

/* Contenedor de imagen */
.trip-image-container {
    background-color: #f8f9fa;
    border-radius: 0.25rem 0 0 0.25rem;
}

/* Contenedor de contenido */
.trip-content-container {
    border-radius: 0 0.25rem 0.25rem 0;
}

/* Asegurar altura consistente en móviles */
@media (max-width: 768px) {
    .trip-image-container {
        border-radius: 0.25rem 0.25rem 0 0;
        min-height: 250px !important;
    }

    .trip-content-container {
        border-radius: 0 0 0.25rem 0.25rem;
    }
}